In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense, Activation
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score

## 学習

In [0]:
df = pd.read_csv('train.csv')
df.head()

   age            job  marital  education  ... pdays  previous poutcome   y
0   52       services  married  secondary  ...    -1         0  unknown  no
1   35         admin.  married    unknown  ...    -1         0  unknown  no
2   37    blue-collar  married  secondary  ...    -1         0  unknown  no
3   57     unemployed  married    primary  ...    -1         0  unknown  no
4   42  self-employed  married   tertiary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [0]:
def get_features(df):
    # 特徴量として使う連続量
    features_ana = ['age', 'balance', 'day', 'duration', 'campaign' ]
    # 連続値として使うカテゴリ値
    features_dig = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'pdays', 'previous', 'poutcome']
    X = np.concatenate(
        [df[features_ana].values, pd.get_dummies(df[features_dig]).values],
        axis=1)
    return X

def get_label(df):
    y = df['y'].replace({'yes': 1, 'no': 0}).values
    return y

In [0]:
# 特徴量, ラベルを作成
X = get_features(df)
y = get_label(df)

In [0]:
input_dim = X.shape[1]
# 隠れ層なしのNN
model = Sequential([
    Dense(32, input_shape=(input_dim, )),
    Activation('relu'),
    Dense(1),
    Activation('sigmoid'),
])

In [0]:
model.compile(optimizer='rmsprop',
              loss='binary_crossentropy',
              metrics=['accuracy'])

In [0]:
model.fit(X, y, epochs=10, batch_size=32)

Epoch 1/10
40689/40689 [==============================] - 2s 43us/step - loss: 1.1331 - acc: 0.8570
Epoch 2/10
40689/40689 [==============================] - 1s 36us/step - loss: 0.8733 - acc: 0.8627
Epoch 3/10
40689/40689 [==============================] - 1s 35us/step - loss: 0.8318 - acc: 0.8695
Epoch 4/10
40689/40689 [==============================] - 1s 35us/step - loss: 0.8055 - acc: 0.8709
Epoch 5/10
40689/40689 [==============================] - 1s 35us/step - loss: 0.7757 - acc: 0.8737
Epoch 6/10
40689/40689 [==============================] - 1s 36us/step - loss: 0.7586 - acc: 0.8755
Epoch 7/10
40689/40689 [==============================] - 1s 37us/step - loss: 0.7288 - acc: 0.8757
Epoch 8/10
40689/40689 [==============================] - 1s 35us/step - loss: 0.7063 - acc: 0.8764
Epoch 9/10
40689/40689 [==============================] - 1s 35us/step - loss: 0.6984 - acc: 0.8774
Epoch 10/10
40689/40689 [==============================] - 1s 36us/step - loss: 0.6718 - acc: 0.8772

## テスト

In [0]:
test_df = pd.read_csv('test.csv')

In [0]:
test_X = get_features(test_df)
test_y = get_label(test_df)

In [0]:
# accuracy
pred = model.predict(test_X).reshape(-1)
pred = (pred > 0.5).astype(int)

In [0]:
# test score (この値を報告)
accuracy_score(test_y, pred)

0.8925254312251216