In [0]:
import numpy as np
import pandas as pd
from sklearn import neighbors

## 学習

In [2]:
df = pd.read_csv('train.csv')
df.head()

   age            job  marital  education  ... pdays  previous poutcome   y
0   52       services  married  secondary  ...    -1         0  unknown  no
1   35         admin.  married    unknown  ...    -1         0  unknown  no
2   37    blue-collar  married  secondary  ...    -1         0  unknown  no
3   57     unemployed  married    primary  ...    -1         0  unknown  no
4   42  self-employed  married   tertiary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [0]:
def get_features(df):
    # 特徴量として使う連続量
    features_ana = ['age','balance']
    # 特徴量として使うカテゴリ値
    features_dig = ['job', 'marital']
    X = np.concatenate(
        [df[features_ana].values, pd.get_dummies(df[features_dig]).values],
        axis=1)
    return X

def get_label(df):
    y = df['y'].replace({'yes': 1, 'no': 0}).values
    return y

In [0]:
# 特徴量, ラベルを作成
X = get_features(df)
y = get_label(df)

In [0]:
n_neighbors = 3

In [6]:
  clf = neighbors.KNeighborsClassifier(n_neighbors)
  clf.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [7]:
clf.score(X, ｙ)

0.915947799159478

## テスト

In [0]:
test_df = pd.read_csv('test.csv')

In [0]:
test_X = get_features(test_df)
test_y = get_label(test_df)

In [10]:
# test score (この値を報告)
clf.score(test_X, test_y)

0.8582485625829279